{% extends "./main.html" %}

{% block navbar %}
  {% include "home/partials/navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="card mx-auto col-md-6">
      <div class="card-header">
        Sign Up
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name Example">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="Email" class="form-control" id="email" placeholder="email@example.com">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="••••••••">
            <small id="emailHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
          </div>
          <div class="form-group">
            <a href="#" class="btn btn-block btn-primary">
              Sign Up
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}