<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/nucleo">
                    <i class="material-icons-round align-middle">home</i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hospital">
                    <i class="material-icons-round align-middle">local_hospital</i>
                    Hospital
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="material-icons-round align-middle">people</i>
                    Admin
                </a>
            </li>
        </ul>

        {# <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
        </h6> #}

        <hr class="my-4">
        <ul class="nav flex-column">
            <!--li class="nav-item">
                <a class="nav-link" href="/settings">
                    <i class="material-icons-round align-middle">settings</i>
                    Settings
                </a>
            </li-->
            <li class="nav-item">
                <a class="nav-link" href="/signout">
                    <i class="material-icons-round align-middle">exit_to_app</i>
                    Sign out
                </a>
            </li>
        </ul>
    </div>
</nav>