{% extends "./main.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow" style="margin-bottom: 15px">
    <a class="navbar-brand" href="/">Nucleo Medico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {% if session['name']  %}
            <li class="nav-item">
                <a class="nav-link disabled text-white" tabindex="-1" aria-disabled="true">{{ session['name'] }}</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/signout">Sign Out</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}

{% block content %}

{% endblock %}