{% extends "app/appMain.html" %}

{% block title %}Appointments{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <form class="row" action="{{ url_for('appointments.appointments') }}" method="POST">
                <div class="form-group col-12 col-md-4">
                    <input name="date" type="date" class="form-control" id="date" value="{{ date }}">
                </div>
                <div class="form-group col-12 col-md-3">
                    <button type="submit" class="btn btn-primary btn-block">
                        <i class="material-icons-round align-middle">search</i>
                    </button>
                </div>
                <div class="form-group col-12 col-md-3">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
                        data-target="#addAppointment">
                        <i class="material-icons-round align-middle">add_circle</i>
                    </button>
                </div>
            </form>
        </div>

        <div style="max-height: 30em;" class="card-body overflow-auto">
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Hour</th>
                        <th scope="col">Description</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appo in appointments %}
                    <tr>
                        <td>{{ appo[2] }}</td>
                        <td>{{ appo[3] }}</td>
                        <td class="text-truncate" style="max-width: 10em;" title="{{ appo[4] }}">{{ appo[4] }}</td>
                        <td class="row">
                            <div class="col-sm-6">
                                <form action="{{ url_for('appointments.appointmentsCheck') }}" method="POST">
                                    <input type="hidden" name="id" value="{{ appo[0] }}">
                                    <button type="submit" class="btn btn-success btn-block" title="Check Appointment">
                                        <i class="material-icons-round align-middle">check_circle_outline</i>
                                    </button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form action="{{ url_for('appointments.appointmentsCancel') }}" method="POST">
                                    <input type="hidden" name="id" value="{{ appo[0] }}">
                                    <button type="submit" class="btn btn-danger btn-block" title="Cancel Appointment">
                                        <i class="material-icons-round align-middle">cancel</i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addAppointment" tabindex="-1" role="dialog" aria-labelledby="addAppointmentTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAppointmentTitle">Add Appointment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{url_for('appointments.appointmentsAdd')}}" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="patient">Patient</label>
                        <select name="patient" id="patient" class="form-control">
                            {% for patient in patients %}
                            <option value="{{ patient[0] }}">{{ patient[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{ date }}">
                    </div>
                    <div class="form-group">
                        <label for="hour">Hour</label>
                        <input type="time" class="form-control" id="hour" name="hour">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea name="description" id="description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}