{% extends "./main.html" %}

{% block navbar %}
{% include "home/partials/navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="container-fluid" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="card">
            <div class="card-header font-weight-bolder">
                About
            </div>
            <div class="card-body">
                <h2>CENTRO UNIVERSITARIO UNE</h2>
                <br>
                <h3>INGENIERÍA EN COMPUTACIÓN</h3>
                <hr>
                <h4>PROYECTO MODULAR Módulo III</h4>
                <h5>Sistemas Distribuidos</h5>
                <hr>
                <h4>TÍTULO DEL PROYECTO</h4>
                <h5>Administrador Nucleo Medico</h5>
                <hr>
                <h5>Alumnos</h5>
                <h6>Uziel Cocolan Flores</h6>
                <h6>Miguel Gonzalez Carlos</h6>
            </div>
        </div>
    </div>
</div>

{% endblock %}