{% extends "./main.html" %}

{% block navbar %}
{% include "home/partials/navbar.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active bg-primary">
                <img src="{{ url_for('static', filename='images/image1.jpg') }}" class="mx-auto d-block w-50" alt="...">
                <div style="bottom: 0;" class="carousel-caption d-none d-md-block text-reset">
                    <h2 class="font-weight-bold">Nucleo Medico</h2>
                    <h5 class="font-weight-normal">Your best option</h5>
                </div>
            </div>
            <div class="carousel-item bg-primary">
                <img src="{{ url_for('static', filename='images/image2.jpg') }}" class="mx-auto d-block w-50" alt="...">
                <div style="bottom: 70%;" class="carousel-caption d-none d-md-block text-reset">
                    <h2 class="font-weight-bold">Simple</h2>
                    <h5 class="font-weight-normal">Everything clearly thanks to our modules</h5>
                </div>
            </div>
            <div class="carousel-item bg-primary">
                <img src="{{ url_for('static', filename='images/image3.jpg') }}" class="mx-auto d-block w-50" alt="...">
                <div style="bottom: 0;" class="carousel-caption d-none d-md-block text-reset">
                    <h2 class="font-weight-bold">Versatile</h2>
                    <h5 class="font-weight-normal">Easy to implement</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="margin-top: 2em; margin-bottom: 2em;">
        <div class="card">
            <div class="card-header font-weight-bolder">
                Nucleo Medico
            </div>
            <div class="card-body">
                <p>México se encuentra en una época que demanda un mejor servicio medico, los sistemas de salud publica
                    deben contar con una administración eficiente para cumplir las necesidades que la sociedad demanda,
                    ante este hecho surgen nuevas tecnologías así como lineamientos que facilitan mediante su
                    implementación la atención y los servicios que se proporcionan, por lo que el sector salud se ve
                    obligado a implementar tecnologías de la información y telecomunicaciones para así evitar
                    problemáticas a las cuales se enfrentan médicos como pacientes en instituciones de atención medica.
                </p>
                <p>En este documento se plantea el desarrollo de un administrador de núcleo medico donde se explica la
                    metodología que se uso para el desarrollo del proyecto, los antecedentes; en los cuales se mencionan
                    los pasos que se siguieron para el progreso del proyecto además de las diferentes tecnologías que
                    fueron base para la idealización del mismo, también se describe el objetivo general como los
                    específicos, se llega a indagar en las problemáticas que se presentan en dichas instituciones, así
                    como el planteamiento de una breve hipótesis en donde se explica el por que y para que se inicio
                    este proyecto. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}